$defaults: (
  "space": 1em,
  "space-s": calc(var(--space) / 2),
  "space-xs": calc(var(--space) / 3),
  "space-l": calc(var(--space) * 2),
  "space-xl": calc(var(--space) * 3),
  "border-radius": .25em,
  "font-family":
    unquote(
      '-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'
    ),
);
$colors: (
  dark: rgb(26, 27, 29),
  dark-off: black,
  light: #fff,
  light-off: #f7f7f7,
  primary: rgb(0, 230, 230),
  secondary: rgb(9, 161, 173),
  tertiary: rgb(243, 148, 135),
);