@use "sass:map";
@import "default";

@function color($name, $settings: ()) {
  @if $settings == () {
    @return var(--color-#{$name});
  } @else {
    @if (type-of($settings) != "map") {
      $settings: (
        opacity: $settings,
      );
    }
    $config: map.merge(
      (
        hue: var(--color-#{$name}-h),
        saturation: var(--color-#{$name}-s),
        lightness: var(--color-#{$name}-l),
        opacity: 1,
      ),
      $settings
    );

    @return hsla(
      var(--color-h, #{map.get($config, "hue")}),
      var(--color-s, #{map.get($config, "saturation")}),
      var(--color-l, #{map.get($config, "lightness")}),
      map.get($config, "opacity")
    );
  }
}

$prefix: "" !default;

@function v($name, $default: "") {
  @if $prefix != "" {
    $prefix: "#{$prefix}-";
  }
  @if $default == "" {
    $default: map.get($defaults, $name);
  }

  @if $default != "" {
    @return var(--#{$prefix}#{$name}, $default);
  } @else {
    @return var(--#{$prefix}#{$name});
  }
}
