@import "_global";
@import "_color";
@import "_reset";

:root {
  @each $name, $value in $defaults {
    --#{$name}: #{$value};
  }
}

.survey {
  color: color(foreground);
  background-color: color(background);
  font-family: v(font-family);

  font-size: clamp(100%, 50% + 0.666vw, 150%);
  line-height: 1.75;
}
