$prefix: "button-";
.button {
  border: none;
  border-radius: v(border-radius);
  font-size: 1em;
  background-color: color(primary);
  color: color(primary-text);
  padding: v(padding, v(space-s) v(space));

  // Colors
  $button-colors: ("primary", "secondary", "tertiary") !default;

  @each $color-name in $button-colors {
    &--#{$color-name} {
      background-color: color(#{$color-name});
      color: color(#{$color-name}-text);
      &:not([disabled]):hover,
      &:not([disabled]):focus {
        background-color: color(
          $color-name,
          (
            lightness: 80%,
          )
        );
      }
    }
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Sizes
  &--small {
    font-size: 0.875em;
    padding: v(space-xs) v(space-s);
  }
  &--medium {
    padding: v(space-s) v(space);
  }
  &--large {
    font-size: 1.25em;
    width: 100%;
    padding: v(space) v(space-l);
  }

  // Type
  &--ghost {
    background-color: transparent;
    --button-padding: 0;
  }
}
